@model MVC_POE.Models.ReportIssuesForm

@{
    ViewData["Title"] = "CreateReportIssues";
}

<h1>Submit a Report Issue</h1>

<h4>ReportIssuesForm</h4>
<hr />
<div class="row">
    <div @* class="col-md-4"  *@class="mb-3">
        <form asp-action="CreateReportIssues" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="FormId" class="control-label"></label>
@*                 <input asp-for="FormId" class="form-control" /> *@
@*                 <span asp-validation-for="FormId" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaAttachment" class="control-label"></label>
                <input type="file" name="file" asp-for="MediaAttachment" class="form-control" />
                <span asp-validation-for="MediaAttachment" class="text-danger"></span>
            </div>
            <span class="text-success">
                @ViewBag.Message
            </span>
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewReportIssues">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
